@import '_variables';
@import 'header';
@import 'home';
:root {
    --font-body: italic 400 1.3rem/1.6 'EB Garamond', serif;
    --font-heading: normal 400 1rem/1.2 'Overpass', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font: var(--font-body);
}
.min-hei-4 {
    min-height: 400px;
}
