@import '_variables';
.head-title {
    font: var(--font-body);
    font-size: 42px;
}
.search {
    margin-left: -10px !important;
    transition: width 0.1s ease-in;
    // animation: border-color ease-in 10s;
    border: 2px solid transparent;
}
.search > input {
    filter: blur(0.6px);
    border-radius: 26px;
    width: $p50;
    animation: searchDefault ease-out 0.8s;
    animation-play-state: running;
}

.search > input:hover {
    cursor: pointer;
    animation: searchEngine ease 0.4s;
    animation-fill-mode: forwards !important;
}
.search.ok {
    display: none;
}
@keyframes searchEngine {
    from {
        width: $p50;
    }
    to {
        width: 120%;
        filter: blur(0);
    }
}
@keyframes searchDefault {
    from {
        width: 120%;
        filter: blur(0);
    }
    to {
        width: $p50;
        filter: blur(0.6px);
    }
}
.post:first-child > img {
    margin-right: 10px;
    width: -moz-available;
}
.news .news-img img {
    width: 100%;
    max-height: 300px;
}
.main-img {
    display: empty;
}
.main-img > img {
    border-radius: 12px;
}
.avata-small {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
// Notifi box
.notifi {
    z-index: 100;
    position: absolute;
    margin-top: 100px;
    right: -500px;
    display: flex;
    align-items: center;
}
.notifi.add {
    animation: notiMenu ease 1s;
    animation-fill-mode: forwards;
}
@keyframes notiMenu {
    from {
        right: -500px;
    }
    to {
        right: 5%;
    }
}
@keyframes border-color {
    0% {
        border-color: rgb(255, 0, 0);
    }
    50% {
        border-color: rgb(0, 255, 0);
    }
    100% {
        border-color: rgb(0, 0, 255);
    }
}
