<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="col-lg-2">
      <!-- LOGO -->
    </div>
    <div class="col-lg-8">
      <div class="d-flex justify-content-center search" id="search">
        <input class="form-control ml-0" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </div>
    </div>
    <div class="col-lg-2">
      <!-- Private -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="menu-user" id="menu-user">
          <img src="http://localhost:5000/img/logo.jpg" alt="" class="avata-small mt-2 mr-1">
          <ion-icon name="list-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</nav>