<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="">
      <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <ul class="navbar-nav mr-0">
        <img src="http://localhost:4000/img/logo.jpg" alt="" class="avata-small mt-2 mr-1">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            ME
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/news">Resources</a>
            <a class="dropdown-item" href="/news/create">Tweet</a>
            <a class="dropdown-item" href="/news/listed">Listed</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>