<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="col-lg-2">
      <!-- LOGO -->
    </div>
    <div class="col-lg-8">
      <div class="d-flex justify-content-center search">
        <input class="form-control ml-0" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </div>
    </div>
    <div class="col-lg-2">
      <!-- Private -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-3">
          <img src="http://localhost:4000/img/logo.jpg" alt="" class="avata-small mt-2 mr-1">
          <li class="nav-item dropdown relative">
            <a id="user-private" class="nav-link dropdown-toggle " href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              ME
            </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>