<form method="POST" action="/news/store">
  <div class="mt-4">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control">
      
    <label for="post" class="form-label">Body</label>
    <textarea id="my-textarea" class="form-control min-hei-4" name="post" rows="3"></textarea>
    
    <label for="img" class="form-label">Link Image</label>
    <input type="text" name="img" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mt-3">POST</button>
</form>