<div class="row">
    <h1 class="mt-3 head-title">Welcome, home!</h1>
    <div class="container">
        <div class="row">
            <div class="main-img mx-auto">
                <img src="http://localhost:4000/img/logo.jpg" alt="">
            </div>
        </div>
    </div>
    <a href="http://localhost:4000/css/app.css">CSS</a>
</div>